body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
}

.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-wrapper {
    width: 500px;
    height: 200px;
}

.table-head {
    height: 20%;
    display: flex;
    flex-direction: row;
}

.table-head>div {
    width: 20%;
    background-color: #b3afaf;
    cursor: grab;
    user-select: none;
    font-weight: 500;
    text-align: center;
}

.table-body {
    height: 80%;
    display: flex;
    flex-direction: row;
}

.table-body>div {
    text-align: center;
    height: 80%;
    width: 20%;
    background-color: #dbd7d7;
    padding: 5px;
}

.indicator {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.26);
    z-index: 3;
}